.menu-card {
    position: relative;
    width: 25vw;

    transform: translateY(20px) scale3d(1, 1, 1);
    opacity: 0;
    transition: transform ease-out 1.5s, opacity ease-in 1.3s;

    --progress: 0;
    &:hover,
    &.flip {
        --progress: 1;
    }

    .domLoaded & {
        transform: translateY(0) scale3d(1, 1, 1);
        opacity: 1;
    }

    @for $i from 1 to 4 {
        &:nth-of-type(#{$i}) {
            transition-delay: 2s + $i * 0.4s;
        }
    }

    filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 0.2));

    &:nth-child(1) &-front {
        background-color: #735463;
    }
    &:nth-child(2) &-front {
        background-color: #7b685a;
    }
    &:nth-child(3) &-front {
        background-color: #9c7324;
    }

    &s {
        display: flex;

        margin: 0 10vw;

        align-self: stretch;
        justify-content: space-between;
    }

    &-inner {
        transition: transform 0.8s;
    }

    &-front {
        position: relative;
        color: #e9e6e9;
    }

    &-titles {
        position: absolute;
        display: flex;

        width: 100%;

        flex-direction: column;
        align-items: center;
    }

    &-image {
        width: 100%;
        display: block;
    }

    &-date {
        font-size: 0.7rem;
        font-weight: 700;
        margin: 1.4rem 0 1rem 0;
    }

    &-title {
        margin: 0 0 0.4rem 0;
        font-size: 1rem;
        font-style: italic;
        font-weight: 400;

        &-secondary {
            margin: 0;
        }
    }

    &-back {
        top: 0;
        position: absolute;
        height: 100%;

        transform: translateY((calc(100% * (1 - var(--progress)))));

        overflow: hidden;
        transition: transform 0.5s ease-in-out;
        pointer-events: none;

        &-wrapper {
            transition: transform 0.5s ease-in-out;

            display: flex;

            flex-direction: column;

            align-items: center;
            justify-content: space-between;

            height: 100%;

            background-color: #f8e4cc;
            transform: translateY((calc(-100% * (1 - var(--progress)))));
            pointer-events: auto;

            &:before,
            &:after {
                content: '';
                display: block;
            }
        }
    }

    &-description {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 1.065rem;

        text-align: center;
        color: rgb(63, 63, 63);

        margin: 0 3.8rem;
    }

    &-button {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.65rem;
        position: relative;
        z-index: 1;
        padding: 0.8rem 1.3rem;
        margin-bottom: 1rem;

        &.upcoming {
            filter: saturate(0);
            cursor: default;
        }

        &.upcoming {
            &::after {
                opacity: 0.5;
            }

            &-stroke::after {
                opacity: 0.5;
            }
        }

        &:hover &-stroke::after {
            transform: translateX(0%);
        }

        &::after {
            content: '';
            position: absolute;
            width: 130%;
            height: 180%;
            background: url('../assets/menu/Brush_CTA_v01.png') center no-repeat;
            opacity: 0.7;
            background-size: contain;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            transition: opacity 300ms ease-out;
        }

        &-stroke {
            position: absolute;
            width: 130%;
            height: 180%;
            mask-image: url('../assets/menu/Brush_CTA_v01.png');
            mask-size: contain;
            overflow: hidden;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                content: '';
                display: block;
                background: url('../assets/menu/Brush_CTA_v01.png') center no-repeat;
                background-size: contain;
                height: 100%;
                transition: transform 500ms ease;
                transform: translateX(-100%);
                opacity: 0.7;
            }
        }
    }

    &-key {
        position: relative;
        height: 50%;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
        transform-origin: 72% 5%;
    }

    &:hover &-key {
        animation: key-wobble 2s ease-in-out;
    }

    @keyframes key-wobble {
        0% {
            transform: rotateZ(15deg);
        }
        25% {
            transform: rotateZ(-8deg);
        }
        50% {
            transform: rotateZ(4deg);
        }
        75% {
            transform: rotateZ(-2deg);
        }
        100% {
            transform: rotateZ(0deg);
        }
    }
}
