.menu-card {
    position: relative;
    width: 25vw;

    transform: translateY(20px);
    opacity: 0;
    transition: transform ease-out 1.5s, opacity ease-in 1.3s;

    .menu.domLoaded & {
        transform: translateY(0);
        opacity: 1;
    }

    @for $i from 1 to 4 {
        &:nth-of-type(#{$i}) {
            transition-delay: 2s + $i * 0.4s;
        }
    }

    filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 0.2));
    perspective: 1000px;

    &:nth-child(1) &-front {
        background-color: #735463;
    }
    &:nth-child(2) &-front {
        background-color: #7b685a;
    }
    &:nth-child(3) &-front {
        background-color: #9c7324;
    }

    &s {
        display: flex;

        margin: 0 10vw;

        align-self: stretch;
        justify-content: space-between;
    }

    .menu.domLoaded &:hover &-inner,
    .menu.domLoaded &.flip &-inner {
        transform: rotateY(180deg) scale3d(1.05, 1.05, 1.05);
    }

    &-inner {
        transition: transform 0.8s;
        transform: rotateY(0deg) scale3d(1, 1, 1);
        transform-style: preserve-3d;
    }

    &-front {
        transform-style: preserve-3d;
        position: relative;
        color: #e9e6e9;
        backface-visibility: hidden;
        transform: translateZ(0.1px);
    }

    &-titles {
        position: absolute;
        display: flex;

        width: 100%;

        flex-direction: column;
        align-items: center;
    }

    &-image {
        width: 100%;
        display: block;
    }

    &-date {
        font-size: 0.7rem;
        font-weight: 700;
        margin: 1.4rem 0 1rem 0;
        transform: translateZ(10px);
    }

    &-title {
        margin: 0 0 0.4rem 0;
        font-size: 1rem;
        font-style: italic;
        font-weight: 400;
        transform: translateZ(5px);

        &-secondary {
            margin: 0;
            transform: translateZ(8px);
        }
    }

    &-back {
        transform-style: preserve-3d;
        position: absolute;
        display: flex;

        flex-direction: column;

        align-items: center;
        justify-content: space-between;

        top: 0;
        height: 100%;

        background-color: #f8e4cc;

        backface-visibility: hidden;
        transform: rotateY(180deg) translateZ(0.1px);

        &:before,
        &:after {
            content: '';
            display: block;
        }
    }

    &-description {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 1.065rem;

        text-align: center;
        color: rgb(63, 63, 63);

        margin: 0 3.8rem;
    }

    &-button {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.65rem;
        position: relative;
        padding: 0.8rem 1.3rem;
        margin-bottom: 1rem;

        &.upcoming {
            filter: saturate(0);
            cursor: default;
        }

        &:hover::after,
        &.upcoming::after {
            opacity: 0.5;
        }

        &::after {
            content: '';
            position: absolute;
            width: 130%;
            height: 180%;
            background: url('../assets/menu/Brush_CTA_v01.png') center no-repeat;
            background-size: contain;
            opacity: 1;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            transition: opacity 300ms ease-out;
        }
    }

    &-key {
        position: relative;
        transition: filter linear 0.2s;
        height: 50%;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));

        &.draggable {
            cursor: grab;
            &.grabbed {
                cursor: grabbing;
            }
        }

        &.onLock {
            filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
        }

        &-unloaded,
        &-wrapper,
        &-loaded {
            height: 100%;
        }

        &-wrapper {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0;

            transform: scale3d(1, var(--progress), 1);
            transform-origin: center bottom;
            overflow: hidden;

            .menu-card-key-loaded {
                transform: scale3d(1, calc(1 / var(--progress)), 1);
                transform-origin: center bottom;
            }
        }
    }
}
