.css3d-div {
    font-family: 'Proza Libre', sans-serif;
    opacity: 0;
    transition: opacity ease-in-out 1s, visibility 0s 1s;
    visibility: hidden;
    font-size: 1.6rem;

    p {
        margin: 0;
        &:first-of-type {
            margin-bottom: 1rem;
        }
    }

    &.show {
        transition: opacity ease-in-out 1s;
        visibility: visible;
        opacity: 1;
    }

    &.secondary {
        opacity: 0.5;
    }

    &.css3d-font-s {
        font-size: 1.4rem;
    }

    &.css3d-font-l {
        font-size: 1.8rem;
    }

    &.css3d-font-xl {
        font-size: 2.2rem;
    }
}

.css3d-textinfo {
    color: #f1ede5;
    font-weight: 400;
    line-height: 1.6;

    padding: 3rem;
    padding-bottom: 2.5rem;
    max-width: 540px;

    background-image: url('../assets/ui/fond_bleu.png');

    &#Buste {
        padding: 2.5rem;
        padding-bottom: 1.8rem;
    }
}

.css3d-quote {
    color: #33322e;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 2.5rem;
    padding-bottom: 2.2rem;

    max-width: 440px;

    background-image: url('../assets/ui/fond_citation.png');
}

.css3d-rubens-quote {
    max-width: 550px;
}

.css3d-quoteicon {
    display: block;
    width: 6rem;
    position: absolute;
    bottom: 0.4rem;
    right: -2rem;
    cursor: pointer;
    transform: rotate3d(0, 0, 0, 0) scale3d(1, 1, 1);
    transition: all ease 0.2s;

    &:hover {
        transform: rotate3d(0, 0, 1, 5deg) scale3d(1.1, 1.1, 1.1);
    }
}
