.hud {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    font-family: 'Libre Baskerville', serif;
}

.hud-scenebutton {
    position: absolute;
    top: 92vh;
    font-size: 1.2rem;
    cursor: pointer;

    visibility: visible;

    &::after {
        content: '';
        position: absolute;
        width: 120%;
        height: 140%;
        background: url('../assets/ui/fond_vers_l_atelier.png') center no-repeat;
        background-size: contain;
        opacity: 0.7;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    &:hover &-stroke::after {
        transform: translateX(0%);
        animation: none;
    }

    &-stroke {
        position: absolute;
        width: 120%;
        height: 140%;
        mask-image: url('../assets/ui/fond_vers_l_atelier.png');
        mask-size: contain;
        overflow: hidden;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);

        &::after {
            content: '';
            display: block;
            background: url('../assets/ui/fond_vers_l_atelier.png') center no-repeat;
            background-size: contain;
            height: 100%;
            transition: transform 300ms ease-out;
            animation: stroke-out 300ms ease-in;
            @keyframes stroke-out {
                0% {
                    transform: translateX(0%);
                }
                100% {
                    transform: translateX(100%);
                }
            }
            transform: translateX(-100%);
            opacity: 1;
        }
    }
}

.hud-previousscene {
    left: 8vh;
}

.hud-nextscene {
    right: 8vh;
}
