.hud {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    font-family: 'Libre Baskerville', serif;
}

.hud-scenebutton {
    position: absolute;
    top: 92vh;
    font-size: 1.2rem;
    cursor: pointer;

    visibility: visible;
    opacity: 1;

    &::after {
        content: '';
        position: absolute;
        width: 120%;
        height: 140%;
        background: url('../assets/ui/fond_vers_l_atelier.png') center no-repeat;
        background-size: contain;
        opacity: 1;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: opacity 300ms ease-out;
    }

    &:hover {
        &::after {
            opacity: 0.5;
        }
    }
}

.hud-previousscene {
    left: 8vh;
}

.hud-nextscene {
    right: 8vh;
}
