.hud {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    font-family: 'Libre Baskerville', serif;

    &-menu {
        position: absolute;
        bottom: -92vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;

        &-button {
            display: inline-block;
            position: relative;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: rgba(#ffffff, 0.5);
            transition: background 300ms ease;

            &:hover,
            &.active {
                background-color: white;

                .hud-menu-button-name,
                .hud-menu-button-date {
                    --translateY: 0;
                    opacity: 1;
                }
            }

            &::before {
                content: '';
                display: inline-block;
                width: 10vw;
                height: 10vw;
                position: absolute;
                transform: translate3d(-50%, -50%, 0);
                left: 50%;
                top: 50%;
            }

            &-name,
            &-date {
                display: inline-block;
                width: 10vw;
                position: absolute;
                text-align: center;
                transform: translate3d(-50%, var(--translateY), 0);
                left: 50%;
                color: white;
                font-weight: 600;
                transition: transform 300ms ease, opacity 300ms ease-out;
                opacity: 0;
            }

            &-name {
                bottom: 25px;
                --translateY: -8px;
            }

            &-date {
                top: 25px;
                --translateY: 8px;
            }
        }

        &-stroke {
            width: 15vw;
            height: 2px;
            background-color: rgba(#ffffff, 0.5);
            transform: scale3d(1.001, 1, 1);
        }
    }
}
