.loading-screen {
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;

    #enterButton {
        position: absolute;
        top: 50%;
        left: 40%;
        display: block;
        background: url(../assets/loading/Clef_v01.png) no-repeat center;
        background-size: contain;
        height: 250px;
        width: 150px;

        transform: translate3d(-50%, -50%, 0);
        transition: all 0.2s cubic-bezier(0.17, 0.67, 0.2, 0.99), opacity 0.5s ease;

        &:hover {
            transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1.2);
        }
    }

    .doors {
        height: 100%;
        width: 100%;
        filter: drop-shadow(0px 0px 200px rgba(0, 0, 0, 0.301));
        position: absolute;

        &-left,
        &-right {
            width: 50%;
            height: 100%;
            background-size: cover;
        }

        &-left {
            --direction: -1;
            float: left;
            background-position: right center;
            background-image: url(../assets/loading/porte_gauche.jpg);
        }
        &-right {
            --direction: 1;
            float: right;
            background-position: left center;
            background-image: url(../assets/loading/porte_droite.jpg);
        }
    }

    &.close {
        visibility: visible;
        transition: visibility 0s 0s linear;
        & .doors {
            &-left,
            &-right {
                animation: close-door 1s 0.3s ease both;
            }
        }

        @keyframes close-door {
            0% {
                transform: translateX(calc(var(--direction) * 100%));
            }
            100% {
                transform: translateX(0%);
            }
        }
    }

    &.open {
        visibility: hidden;
        transition: visibility 0s 1s linear;

        & .doors {
            filter: drop-shadow(0px 0px 500px rgba(0, 0, 0, 1));

            &-left,
            &-right {
                animation: open-door 1s 0.2s ease;
            }
        }

        @keyframes open-door {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(calc(var(--direction) * 100%));
            }
        }
    }

    &-key {
        position: absolute;
        z-index: 1;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
        transition: filter linear 0.2s;

        &.onLock {
            filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
        }

        &-unloaded,
        &-wrapper,
        &-loaded {
            height: 100%;
        }

        &-wrapper {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0;

            transform: scale3d(1, var(--progress), 1);
            transform-origin: center bottom;
            overflow: hidden;

            filter: brightness(0.8);
            transition: filter 0.5s linear;
            &.finished {
                filter: brightness(1);
            }

            .loading-screen-key-loaded {
                transform: scale3d(1, calc(1 / var(--progress)), 1);
                transform-origin: center bottom;
            }
        }
    }
}
