.ui-container {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: 100;
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

.ui-wrapper {
    height: 100%;
    width: 100vw;
    font-family: 'Libre Baskerville';

    background-color: #e7dbcb;
    background-image: url('../assets/menu/Background_v01.jpg');
    background-size: cover;
    background-position: center;
}

.menu-wrapper {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100vw;
}

.about {
    width: 100vw;
    flex-shrink: 0;
}

%ui-navigation-button-pos {
    position: absolute;
    width: calc(140% + 5rem);
    height: 180%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
}

%ui-navigation-button-bg {
    filter: hue-rotate(70deg);
    background: url('../assets/menu/Brush_CTA_v01.png') center no-repeat;
    background-size: contain;
    transition: transform 300ms ease-out;
    opacity: 0.7;
}

.ui-navigation {
    position: fixed;
    right: 3vw;
    top: 3vw;

    &-button {
        color: white;
        text-decoration: none;
        font-size: 0.9rem;
        position: relative;
        opacity: 0;
        z-index: 1;
        margin: 0 1.8rem;
        transition: opacity 0.5s 4s linear;

        .domLoaded & {
            opacity: 1;
        }

        &:hover &-stroke::after,
        &.current &-stroke::after {
            transform: translateX(0%);
            animation: none;
        }

        &::after {
            content: '';
            filter: hue-rotate(70deg);
            background: url('../assets/menu/Brush_CTA_v01.png') center no-repeat;
            background-size: contain;
            transition: opacity 300ms ease-out;
            @extend %ui-navigation-button-pos;
            @extend %ui-navigation-button-bg;
        }

        &-stroke {
            mask-image: url('../assets/menu/Brush_CTA_v01.png');
            mask-size: contain;
            mask-position: center;
            mask-repeat: no-repeat;
            overflow: hidden;
            @extend %ui-navigation-button-pos;

            &::after {
                content: '';
                height: 100%;
                display: block;
                @extend %ui-navigation-button-bg;
                transform: translateX(-100%);
                animation: stroke-out 300ms ease-in;
                @keyframes stroke-out {
                    0% {
                        transform: translateX(0%);
                    }
                    100% {
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
}

.menu {
    height: 100%;
    width: 100vw;

    display: inline-flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;

    &-title {
        margin: 10vh 0;
        color: rgb(63, 63, 63);
        line-height: 1.1;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.52rem;

        position: relative;
        z-index: 1;
        $start-opacity: 0.3s;
        $start-transform: 0.8s;

        transition: transform 1.5s $start-transform + $start-opacity ease-in-out, opacity 1.5s $start-opacity ease-in;
        transform: translateY(calc(50vh - 150%)) scale3d(1.5, 1.5, 1.5);
        opacity: 0;

        .domLoaded & {
            opacity: 1;

            transform: translateY(0) scale3d(1, 1, 1);
        }

        .first-letter {
            font-size: 2.4rem;
        }

        .secondary {
            text-transform: none;
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 1.2rem;
            display: block;
        }
    }
}

@import './cards';
